version: '3.9'

services:
  postgres:
    image: postgres
    shm_size: '2gb'
    container_name: postgresTripManager
    restart: unless-stopped
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
    postgres: 
      driver: local